In [62]:
import pandas as pd
import numpy as np

pd.set_option('display.max_rows', 500)

In [63]:
filename = "Asset_Basic_Data.csv"
asset_basic_old = pd.read_csv(filename)
asset_basic_old = asset_basic_old.drop_duplicates()

display(asset_basic_old.head())
print(asset_basic_old.shape)

,Serial No.,Asset Tag,Asset Name,Asset Type,Asset Category,Asset 3D Module,Latitude,Longitude,Altitude,Easting (X),Northing (Y),Elevation (Z),Created Date,Updated Date
0,9122,4ffcd3d0-80f8-4e1d-bb66-2ab86219c0dc,78 PLET,SEABED,MANIFOLD,PLET,-6.590304,10.213151,-150.000000,634117.109653,9.271378e+06,-150.000000,2021-11-08T18:16:49.834448Z,2022-02-01T04:16:12.195934Z
1,9121,ec0b72ad-08da-474d-860c-4c6b7bf1da7b,77 Well Head,SEABED,WELL,Well Head,-6.593990,10.213308,-150.000000,634133.390224,9.270971e+06,-150.000000,2021-11-08T18:16:49.817318Z,2022-02-01T04:16:12.210989Z
2,9123,629ba4ff-9971-4232-b117-f4dd203bb58a,79 Pipe Connector,SEABED,CONNECTOR,Pipe Connector,-6.597743,10.213181,-150.000000,634118.413239,9.270556e+06,-150.000000,2021-11-08T18:16:49.849509Z,2022-02-01T04:16:12.230273Z
3,9069,160744e0-8766-4fe7-9813-cb760f6f6d79,47 Well Head,SEABED,WELL,Well Head,-6.455938,10.201762,-150.000061,632893.173566,9.286238e+06,-150.000061,2021-11-08T04:58:16.088300Z,2022-02-01T04:16:12.246755Z
4,9092,4b57f2c7-c6d3-4829-a678-f2a8124469b4,38 Cluster Manifold,SEABED,MANIFOLD,Cluster Manifold,-6.591050,10.138249,-150.000000,625835.188688,9.271315e+06,-150.000000,2021-11-08T05:36:47.519912Z,2022-02-01T04:16:12.263589Z

(87, 14)

In [64]:
cols = ["Asset Tag", "Latitude", "Longitude", "Altitude"]
asset_basic_map_old = asset_basic_old[cols] #dataframe slicing

display(asset_basic_map_old.head())

                              Asset Tag  Latitude  Longitude    Altitude
0  4ffcd3d0-80f8-4e1d-bb66-2ab86219c0dc -6.590304  10.213151 -150.000000
1  ec0b72ad-08da-474d-860c-4c6b7bf1da7b -6.593990  10.213308 -150.000000
2  629ba4ff-9971-4232-b117-f4dd203bb58a -6.597743  10.213181 -150.000000
3  160744e0-8766-4fe7-9813-cb760f6f6d79 -6.455938  10.201762 -150.000061
4  4b57f2c7-c6d3-4829-a678-f2a8124469b4 -6.591050  10.138249 -150.000000

In [65]:
# asset_basic_map_old[["Latitude", "Longitude", "Altitude"]].value_counts()

In [66]:
filename = "AssetsMetaDatas.csv"
asset_metadata_old = pd.read_csv(filename)
asset_metadata_old = asset_metadata_old.drop_duplicates()
display(asset_metadata_old.head())
print(asset_metadata_old.shape)

,Asset Name,Asset Module,Asset Category,Manufacturer,Capacity,Product,Current Status,Installation Start Date,Installation End Date,Remaining Useful Life,Failure Probability in %,Last Maintenance Date,Maintenance Due Date,Latitude,Longitude,Altitude,View Scale,Comments
0,58 PLET,PLET,MANIFOLD,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.527924,10.160235,-150.0,NaN,NaN
2,47 Well Head,Well Head,WELL,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.594702,10.135676,-150.0,NaN,NaN
5,51 PLET,PLET,MANIFOLD,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.586546,10.127203,-150.0,NaN,NaN
9,61 Mooring Point,Mooring Point,ANCHOR,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.533120,10.128773,-150.0,NaN,NaN
14,39 Cluster Manifold,Cluster Manifold,MANIFOLD,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.593215,10.149370,-150.0,NaN,NaN

(12, 18)

In [67]:
asset_metadata_with_tag = asset_metadata_old.merge(asset_basic_map_old, 
                                                    on=["Latitude", "Longitude", "Altitude"],
                                                    how='left')

# asset_metadata_with_tag = asset_metadata_old.merge(asset_basic_old, 
#                                                     on=["Latitude", "Longitude", "Altitude"],
#                                                     how='inner')

display(asset_metadata_with_tag.head())
print(asset_basic_map_old.shape)
print(asset_metadata_old.shape)
print(asset_metadata_with_tag.shape)

,Asset Name,Asset Module,Asset Category,Manufacturer,Capacity,Product,Current Status,Installation Start Date,Installation End Date,Remaining Useful Life,Failure Probability in %,Last Maintenance Date,Maintenance Due Date,Latitude,Longitude,Altitude,View Scale,Comments,Asset Tag
0,58 PLET,PLET,MANIFOLD,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.527924,10.160235,-150.0,NaN,NaN,11a57b69-2c68-4f59-8cee-82669714a1d3
1,47 Well Head,Well Head,WELL,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.594702,10.135676,-150.0,NaN,NaN,ee2b5040-f362-4eec-b961-a368d3a2dcdd
2,51 PLET,PLET,MANIFOLD,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.586546,10.127203,-150.0,NaN,NaN,4b72a50a-2b7d-4a0e-bb7f-35b77184cba9
3,61 Mooring Point,Mooring Point,ANCHOR,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.533120,10.128773,-150.0,NaN,NaN,e80fa71a-2f47-42a9-81d6-8fa6650ebc60
4,39 Cluster Manifold,Cluster Manifold,MANIFOLD,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,-6.593215,10.149370,-150.0,NaN,NaN,0d08396b-eb48-48f6-9c30-467f2927ca0b

(87, 4)
(12, 18)
(12, 19)

In [68]:
asset_metadata_with_tag = asset_metadata_with_tag.drop_duplicates()

print(asset_metadata_with_tag.shape)
print(asset_metadata_with_tag.info())

(12, 19)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Asset Name                12 non-null     object
 1   Asset Module              12 non-null     object
 2   Asset Category            12 non-null     object
 3   Manufacturer              0 non-null      float64
 4   Capacity                  0 non-null      float64
 5   Product                   0 non-null      float64
 6   Current Status            0 non-null      float64
 7   Installation Start Date   0 non-null      float64
 8   Installation End Date     0 non-null      float64
 9   Remaining Useful Life     12 non-null     int64
 10  Failure Probability in %  0 non-null      float64
 11  Last Maintenance Date     0 non-null      float64
 12  Maintenance Due Date      0 non-null      float64
 13  Latitude                  12 non-null     float64
 14  Longitude                 12 non-null     float64
 15  Altitude                  12 non-null     float64
 16  View Scale                0 non-null      float64
 17  Comments                  0 non-null      float64
 18  Asset Tag                 12 non-null     object
dtypes: float64(14), int64(1), object(4)
memory usage: 1.9+ KB
None